* {
  background-color: lightsalmon;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  border: 3px black solid;
  margin: auto;
  text-align: center;
  margin-bottom: 15px;
}

h1 {
  color: rgb(172, 92, 83);
}

main {
  display: flex;
  flex-direction: column;
  padding-bottom: 55px;
}

section {
  background-color: white;
  border: 2px solid;
  border-radius: 10px;
  margin-bottom: 17px;
  text-align: center;
  position: relative;
  margin-right: 8px;
}

.profile_header > .username {
  background-color: transparent;
  position: absolute;
  top: 20px;
  left: 175px;
}

.about_me {
  background-color: transparent;
  position: absolute;
  top: 50px;
  left: 175px;
}

p {
  background-color: transparent;
  top: 80px;
  left: 120px;
}

.profile_picture {
  width: 100px;
  border-radius: 50px;
  margin: 20px;
  position: absolute;
  left: 10px;
}

button > svg {
  background-color: transparent;
}

a {
  background-color: white;
}

.bookmark,
.non-bookmark {
  background-color: transparent;
  position: absolute;
  right: -22px;
  top: -15px;
  border: none;
  z-index: 1;
}

.bookmark > svg {
  fill: rgb(185, 72, 59);
}

.button__answer {
  background-color: salmon;
}

.taglist {
  display: flex;
  list-style: none;
  background-color: white;
}

.tag {
  align-items: flex-start;
  margin: 3px;
  border: dotted;
  padding: 4px;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 55px;
  z-index: 2;
}

.nav {
  display: flex;
}

.nav a {
  background-color: salmon;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav svg {
  background-color: transparent;
  border: none;
  height: 1em;
  width: 1em;
  font-size: 30px;
  padding-top: 3px;
}

body {
}
