@import url(./global.css);
@import url(./components/button.css);
@import url(./components/card.css);
@import url(./components/header.css);
@import url(./components/navigation.css);

* {
  background-color: lightsalmon;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* PROFILE CARD */
.profile_header > .username {
  background-color: transparent;
  position: absolute;
  top: 20px;
  left: 175px;
}

.about_me {
  background-color: transparent;
  position: absolute;
  top: 50px;
  left: 175px;
}

.profile_picture {
  width: 100px;
  border-radius: 50px;
  margin: 20px;
  position: absolute;
  left: 10px;
}
