.question-card {
  background-color: white;
  border: 2px solid;
  border-radius: 10px;
  margin-bottom: 17px;
  text-align: center;
  position: relative;
  margin-right: 8px;
}

.question-card__question {
  background-color: transparent;
  top: 80px;
  left: 120px;
}

.question-card__answer-button {
  background-color: salmon;
}

.question-card__answer {
  visibility: hidden;
  background-color: transparent;
}

/* .answer-button--enabled {
  replace("Hide answer");
} */

.answer-button--enabled + .question-card__answer {
  visibility: visible;
  color: black;
}

.question-card__taglist {
  display: flex;
  list-style: none;
  background-color: transparent;
}

.question-card__tag {
  align-items: flex-start;
  margin: 3px;
  border: dotted;
  padding: 4px;
  background-color: transparent;
}
