.create-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--background-section);
  border-radius: 20px;
  border: solid var(--border-color);
  padding: 5%;
  margin-bottom: 5%;
}

.create-form__input-section {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.create-form__question-label {
  background-color: transparent;
  padding: 2%;
}

.create-form__question {
  background-color: transparent;
  padding: 2%;
}

.create-form__answer-label {
  background-color: transparent;
  padding: 2%;
}

.create-form__answer {
  background-color: transparent;
  padding: 2%;
}

.create-form__character-counter {
  background-color: transparent;
  align-self: flex-end;
}

.create-form__character-counter > span {
  background-color: transparent;
}

.create-form__tag-label {
  background-color: transparent;
  padding: 2%;
}

.create-form__tag {
  background-color: transparent;
  padding: 2%;
}

.create-form__submit {
  background-color: var(--secondary-color);
  padding: 3%;
  margin: 2%;
  font-size: 1em;
  align-self: center;
}
