.user-profile {
  background-color: var(--background-section);
  border: solid var(--border-color);
  border-radius: 10px;
  margin-bottom: 17px;
  text-align: center;
  padding: 15px;
  display: grid;
  grid-template-columns: 90px repeat(3, 1fr);
  grid-template-rows: repeat(2, 45px) repeat(3, 1fr);
  gap: 4px 20px;
}
.user-profile__picture {
  width: 90px;
  border-radius: 50px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  margin-top: 20px;
}

.user-profile__username {
  background-color: transparent;
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  text-align: left;
}

.user-profile__about-me {
  background-color: transparent;
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  text-align: left;
}

.user-profile__text {
  background-color: transparent;
  grid-column: 2 / 5;
  grid-row: 3 / 5;
  text-align: left;
}

.user-profile__question-counter {
  border: 0.2em solid var(--border-color);
  border-radius: 10px;
  background-color: transparent;
  width: 70px;
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.user-profile__question-svg {
  width: 2em;
  background-color: transparent;
}

.user-profile__question-number {
  background-color: transparent;
}

.user-profile__bookmark-counter {
  border: 0.2em solid var(--border-color);
  border-radius: 10px;
  background-color: transparent;
  width: 70px;
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

.user-profile__bookmark-counter-svg {
  width: 2em;
  background-color: transparent;
  position: relative;
  padding-top: 9px;
}

.user-profile__bookmark-number {
  background-color: transparent;
}
